:host {

  div {
    margin: 0;
    padding: 20px;
    background: lightcoral;
    height: 100px;

    h1 {
      float: left;
      margin: 0;
      color: white;
    }

    app-login-button {
      float: right;
      margin-top: 20px;
    }
  }
}


