:host {
  .copyright-caption {
    float: right;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    margin-right: 20px;
    height: 100px;
  }
}
